WcfLogic/Service References/ServiceReference2/Service22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Crystal.DomainModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Crystal.DomainModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TrackedDevice">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TrackedItem">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrackedDevice" nillable="true" type="tns:TrackedDevice" />
  <xs:complexType name="TrackedItem">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="TrackedItem" nillable="true" type="tns:TrackedItem" />
  <xs:complexType name="ArrayOfTrackedDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackedDevice" nillable="true" type="tns:TrackedDevice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrackedDevice" nillable="true" type="tns:ArrayOfTrackedDevice" />
  <xs:complexType name="TrackedBatch">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TrackedItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="BatchNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrackedBatch" nillable="true" type="tns:TrackedBatch" />
  <xs:complexType name="ArrayOfTrackedBatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackedBatch" nillable="true" type="tns:TrackedBatch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrackedBatch" nillable="true" type="tns:ArrayOfTrackedBatch" />
</xs:schema>