WcfLogic/Service References/ServiceReference2/Service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6655/DataServices/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Crystal.DomainModel" />
  <xs:element name="AddDeviceItemTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Crystal.DomainModel" minOccurs="0" name="item" nillable="true" type="q1:TrackedDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeviceItemToResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDeviceItemFrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Crystal.DomainModel" minOccurs="0" name="item" nillable="true" type="q2:TrackedDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDeviceItemFromResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackedDeviceItemsByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackedDeviceItemsByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Crystal.DomainModel" minOccurs="0" name="GetTrackedDeviceItemsByUserResult" nillable="true" type="q3:ArrayOfTrackedDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBatchItemTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Crystal.DomainModel" minOccurs="0" name="item" nillable="true" type="q4:TrackedBatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBatchItemToResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBatchItemFrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Crystal.DomainModel" minOccurs="0" name="item" nillable="true" type="q5:TrackedBatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBatchItemFromResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackedBatchItemsByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackedBatchItemsByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Crystal.DomainModel" minOccurs="0" name="GetTrackedBatchItemsByUserResult" nillable="true" type="q6:ArrayOfTrackedBatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>