src/WebConsole/Settings/Vba32MSI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="vba32msi">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="path" type="xs:string">
                        <xs:attribute name="version" type="xs:string" use="required" />
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>